# See https://help.github.com/ignore-files/ for more about ignoring files.

# web
/web/node_modules
/web/coverage
/web/build
npm-debug.log*

# backend
/hh-survivor-backend/target

/backend/.gradle/
/backend/.idea/workspace.xml
/backend/.idea/tasks.xml
/backend/.idea/gradle.xml
/backend/**/*.iml
/backend/build/
/backend/data/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

