@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.App {
  max-width: 1000px;
  margin: 0 auto;
}

.title-bar {
  display: flex;
}

.title-bar h1 {
  margin: 0 auto;
}

.nav-bar {
  display: flex;
  background-color: #EBF1F5;
  height: 40px;
}

.nav-bar div {
  margin-left: 15px;
  margin-top: auto;
  margin-bottom: auto;
}

a {
  color: black;
  text-decoration: none;
}

.picks-week-badges {
  display: flex;
  max-width: 100%;
  overflow-x: scroll;
}

.badge {
  background-color: #EBF1F5;
  width: 55px;
  height: 60px;
  margin-right: 2px;
  font-size: 14px;
  text-align: center;
  border-color: white;
  border-style: solid;
  border-width: 0 1px 2px 1px;
  flex-grow: 1;
}

.badge:hover {
  cursor: pointer;
}

.badge.current-week {
  border-bottom-color: #48AFF0;
}

.badge .week-label {
  padding: 3px;
}

.picks-label.no-picks {
  color: #A82A2A;
}

.games-pickers .game-picker {
  display: flex;
  margin: 10px 0;
}

.games-pickers .game-picker .picker-divider {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 170px;
}

.games-pickers .game-picker .picker-divider .winner {
  font-weight: 600;
}

.games-pickers .game-picker .picker-divider .final-text {
  font-size: 12px;
  color: #738694;
}


.games-pickers .game-picker .card {
  display: flex;
  width: 350px;
}

.games-pickers .game-picker .card.picked {
  background-color: rgb(229, 241, 255);
}

.games-pickers .game-picker .card.picked.winner {
  background-color: rgb(169, 247, 205);
}

.games-pickers .game-picker .card.picked.loser {
  background-color: rgb(247, 169, 169);
}


.games-pickers .game-picker .card .card-text {
  margin: 0 8px;
  display: flex;
  flex-direction: column;
}

.games-pickers .game-picker .card .card-text div:first-child{
  margin-top: auto;
}

.games-pickers .game-picker .card .card-text div:last-child{
  margin-bottom: auto;
}

.games-pickers .game-picker .visitor-card {
  text-align: right;
  flex-direction: row-reverse;
}

.games-pickers .game-picker .card:first-child {
  margin-left: auto;
}

.games-pickers .game-picker .card:last-child {
  margin-right: auto;
}

.games-pickers .game-picker .card .card-text.push-right {
  margin-left: auto;
}

.games-pickers .game-picker .card .card-text:not(.push-right) {
  margin-right: auto;
}

.games-pickers .game-picker .card .pick-container {
  width: 50px;
}

.games-pickers .game-picker .card .pick-container .pick-circle {
  display: flex;
  margin: 0 auto;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: #48AFF0;
  width: 32px;
  height: 32px;
}

.games-pickers .game-picker .card .pick-container .pick-circle.picked {
  color: white;
  background-color: #48AFF0;
}

.games-pickers .game-picker .card.picked.loser .pick-container .pick-circle {
  border-color: rgb(180, 53, 53);
}

.games-pickers .game-picker .card.picked.loser .pick-container .pick-circle.picked {
  color: white;
  background-color: rgb(180, 53, 53);
}

.games-pickers .game-picker .card.picked.winner .pick-container .pick-circle {
  border-color: rgb(33, 117, 16);
}

.games-pickers .game-picker .card.picked.winner .pick-container .pick-circle.picked {
  color: white;
  background-color: rgb(33, 117, 16);
}

.games-pickers .game-picker .card .pick-container .pick-circle span.bp3-icon {
  display: block;
  margin: auto;
}

.games-pickers .game-picker .card .pick-container .pick-text {
  color: #48AFF0;
  text-align: center;
}

.games-pickers .game-picker .card.picked.loser .pick-container .pick-text {
  color: rgb(180, 53, 53);
}

.games-pickers .game-picker .card.picked.winner .pick-container .pick-text {
  color: rgb(33, 117, 16);
}

.scoreboard {
  margin: 0 auto;
  font-size: 1.2em;
  width: 400px;
}

.scoreboard td:first-child, .scoreboard th:first-child {
  text-align: right;
  padding-right: 10px;
}

.scoreboard td:last-child, .scoreboard th:last-child {
  text-align: left;
  padding-left: 10px;
}
